.d-button{
    border-radius: 3px !important;
    border: none;
    font-size: $font-size5;
   // padding: max(10px, 3%) max(30px, 8%) max(10px, 3%) max(30px, 8%);
    background-color: $theme-color;
    cursor: pointer;
    transition-duration: 200ms;
    text-align: center;
    text-decoration: none;

    &:disabled{
        cursor: not-allowed;
    }

    &--padding{
        &-large{
            padding: 0.5em 1em 0.5em 1em;
        }

        &-medium{
            padding: 0.4em 0.8em 0.4em 0.8em;
        }

        &-small{
          padding: 0.3em 0.6em 0.3em 0.6em;
        }
    }

    &--primary{
        color: black;
        &:hover{
            background-color: $theme-color-light-1;
        }

        &:disabled{
            background-color: $theme-color-light-2;
        }
    }

    &--red{
        background-color: $theme-color2;
        color: black;

        &:hover{
            background-color: $theme-color2-hover;
        }

        &:disabled{
            background-color: $theme-color2;
        }
    }

    &--gray{
        background-color: $theme-color3;
        color: white;

        &:hover{
            background-color: $theme-color3-hover;
        }

        &:disabled{
            background-color: $theme-color3;
        }
    }

    &--orange{
        background-color: orange;
        color: black;

        &:hover{
            background-color: #ffb429;
        }

        &:disabled{
            color:  #4d4d4d;
            background-color: #f19d00;
        }
    }

    &--green{
        background-color: rgb(36, 231, 36);
        color: black;

        &:hover{
            background-color: rgb(76, 240, 76);
        }

        &:disabled{
            color:  #4d4d4d;
            background-color: #1eb41e;
        }
    }
}