
<div class="container" *ngIf="this.product">
    <h2 class="title">{{this.product.name}}</h2>
    <div class="content">
        <shop-product-image class="content__image" imageResolution="original" [productId]="this.product.id"></shop-product-image>
        <div class="content__info">
            <div class="content__info-top">
                <p class="content__price">Cena: {{this.product.price | number: '1.2-2'}} zł</p>
                <p class="content__available content__available--true" *ngIf="this.product.inStock > 0 && this.maxToSelect !==0">
                    Dostępna ilość: {{this.product.inStock}}
                </p>
                <p  class="content__available--false" *ngIf="this.product.inStock <=0">
                    Tymczasowo niedostępny
                </p>
                <p  class="content__available--false" *ngIf="this.product.inStock > 0 && this.maxToSelect ===0">
                    Maksymalna ilość tego produktu jest już w koszyku
                </p>
                <p class="content__in-cart-amount" *ngIf="this.inCartAmount !== 0">Aktualnie w koszyku: {{this.inCartAmount}}</p>
                <p class="content__deliver-time">Sugerowany czas dostawy: 2 dni robocze</p>
            </div>
            <p class="content__price-calc">Łącznie: +{{(this.selectedCount * this.product.price) | number: '1.2-2'}} zł</p>
            <div class="content__buy">
                <p-inputNumber [(ngModel)]="this.selectedCount" class="content__buy-count" [min]="0" [showButtons]="true"
                [max]="this.maxToSelect"></p-inputNumber>
                <button shopButton class="content__buy-button" [disabled]="this.product.inStock <=0 || this.waitingForResponse
                 || this.maxToSelect === 0" padding="medium"
                (click)="this.addToCart()"><i class="pi pi-shopping-cart"></i> Dodaj do koszyka</button>
            </div>
        </div>
    </div>
    <div class="informations">
      <h3 class="informations__title">Informacje:</h3>
        <div class="informations__table">
          <div class="informations__row informations__types">
            <p class="informations__header-cell">Typy:</p>
            <p class="informations__content-cell">{{this.product.types.join(", ")}}</p>
          </div>
          <div class="informations__authors informations__row">
            <p class="informations__header-cell">Autorzy:</p>
            <p class="informations__content-cell">{{this.authorsString}}</p>
          </div> 
        </div>
        <h4 class="informations__description-header">Opis produktu: </h4>
        <p class="informations__description">{{this.product.description}}</p>
    </div>
</div>
<!-- <div class="overlay" *ngIf="!this.product">
    <i class="pi pi-spinner pi-spin"></i>
</div> -->
<shop-busy-overlay *ngIf="this.waitingForResponse || !this.product"></shop-busy-overlay>

