@import "../../../styling/all.scss";

.d-input-text{
    transition: box-shadow 0.2s;
    font-size: 1rem;
    border-radius: 3px;
    border: 1px solid #ced4da;
    outline: none;
    min-width: 0;
    font-family: $family;

    &--small-padding{
        padding: 0.4em;
    }

    &--normal-padding{
        padding: 0.5em;
    }

    &:focus{
        box-shadow: 0 0 0 0.15rem $theme-color-light-3;
        border-color: $theme-color;
    }

    &--invalid{
        @include invalid-field;
    }
}