<ng-container [formGroup] = "this.formGroup">
    <p class="header" *ngIf="this.showHeader">Filtry:</p>
    <p class="subheader">Cena:</p>
    <div class="prices">
        <p-inputNumber class="prices__price" [useGrouping]="false" [min] = "0"
        placeholder="min" mode="currency" currency="PLN" locale="pl-PL" formControlName = "minPrice"
        (onBlur) = "this.triggerOnTouched()"></p-inputNumber>
        <p>-</p>
        <p-inputNumber class="prices__price" [useGrouping]="false" [min] = "0"
        placeholder="max" mode="currency" currency="PLN" locale="pl-PL" formControlName = "maxPrice"
        (onBlur) = "this.triggerOnTouched()"></p-inputNumber>
    </div>
    <p class="subheader">Dostępność:</p>
    <div class="prices">
        <p-inputNumber class="prices__price" [useGrouping]="false" [min] = "0"
        placeholder="min" formControlName = "minInStock"
        (onBlur) = "this.triggerOnTouched()"></p-inputNumber>
        <p>-</p>
        <p-inputNumber class="prices__price" [useGrouping]="false" [min] = "0"
        placeholder="max" formControlName = "maxInStock"
        (onBlur) = "this.triggerOnTouched()"></p-inputNumber>
    </div>
    <p class="subheader">Autorzy:</p>
    <shop-authors-select></shop-authors-select>
    <p class="subheader">Kategorie</p>
    <shop-types-select [editable]="false"></shop-types-select>
    <!-- <p>Typ:</p> -->
    <!-- <shop-selectable-list class="types" [items] = "filterOptions"
    formControlName = "types" (blur) = "this.triggerOnTouched()" listTitle = "Typy:"></shop-selectable-list> -->
 </ng-container>
