@import "../../../styling/all.scss";

.wrapper{
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 400px;
}

.header{
  margin-bottom: 25px;
  font-size: 21px;
}

.form{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 21px;

  &__input{
    flex: 1;
  }

  &__label{
    margin-right: 5px;
  }
}