@import "../../../styling/all.scss";

:host{
    display: flex;
    flex-direction: column;
}

.container{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 2px 1px $box-shadow-color;
    border-radius: 3px;
    overflow: hidden;
}

.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    flex: 2;
    cursor: pointer;

    &__image{
        // flex: 5;
        // max-width: 800px;
        height: calc(100% - 10px);
        width: min(200px, 40%);
        margin: 5px;
        // max-width: 50%;
    }
    
    
    &__name{
        font-size: 19px;
        flex: 1;
        padding: 10px;
        text-align: center;
        word-break: break-word;
        overflow: hidden;
    }
}

.modifiers{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: min(15px, 2%);
  // padding-right: min(15px, 5%);

  &__element{
    margin-right: 15px;

    &:last-child{
      margin-right: 0;
    } 
  }

  &__price{
  
  }

  &__amount{

    display: flex;
    justify-content: center;
  }

  &__delete{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & .pi{
        font-size: 24px;
        padding: 6px;
        border-radius: 3px;
        cursor: pointer;
        transition-duration: 150ms;

        &:hover{
            background-color: rgba(black, 0.1);
        }
    }
  }
}






:host ::ng-deep{

    
    & .p-inputnumber{
        max-width: unset;
        min-width: 0;

        &-input{
            padding: 3px;
            max-width: unset;
            width: 100%;
            width: 60px;
            text-align: center;
        }

        &-button{
            width: 1.5em;
        }
    }
}