@import "../../../styling/all.scss";

:host{
    position: relative !important;
    display: flex;
    flex-direction: column;
}

.header{
  font-size: $font-size6;
  margin-bottom: 10px;
}

.top-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 10px 5px 10px;

  &__remove-all{
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 6px;
    border-radius: 3px;
    transition-duration: 200ms;

    & .pi{
      color: red;
      font-size: 26px;
      margin-right: 6px;
    }

    &:hover{
      background-color: $surface-300;
    }
  }
}

.dialog{
  &__text{
    padding: 30px;
    max-width: 500px;
  }
}

.content{
  // padding: 10px;
  // box-shadow: 0 0 2px 1px $box-shadow-color;
  // border-radius: 3px;
  // background-color: $surface-200;
  position: relative;
  // flex: 1;
  border: 1px solid $box-shadow-color;
  // border-bottom: 0;
  box-shadow: 0 0 1px 0 $box-shadow-color, inset 0 0 1px 0 $box-shadow-color;
}
