@import "../../../styling/all.scss";

:host{
    position: relative !important;
    display: flex;
    flex-direction: column;

}

.element{
    margin-top: 10px;

    &:first-child{
        margin-top: 0;
    }
}

.content{
    padding: 5px 0 5px 0;
}