<shop-dialog acceptPhrase="OK" cancelPhrase="Anuluj" [(visibility)]="this.visibility"
(visibilityChange)="this.visibilityChange.emit($event)" dialogTitle="Filtry">
<div class="content">
  <div class="content__element">
    <p class="content__subheader">Produkty na stronie:</p>
    <form class="content__radios">
      <div class="content__radio">
        <p-radioButton class="content__radio-button" name="element-count" [value]='10' [(ngModel)]="this.selectedPageCount"
        inputId="radio10"></p-radioButton>
        <label for="radio10" class="content__radio-label">10</label>
      </div>

      <div class="content__radio">
        <p-radioButton class="content__radio-button" name="element-count" [value]='25' [(ngModel)]="this.selectedPageCount"
        inputId="radio25"></p-radioButton>
        <label for="radio25" class="content__radio-label">25</label>
      </div>

      <div class="content__radio">
        <p-radioButton class="content__radio-button" name="element-count" [value]='50' [(ngModel)]="this.selectedPageCount"
        inputId="radio50"></p-radioButton>
        <label for="radio50" class="content__radio-label">50</label>
      </div>
    </form>
  </div>
  <div class="content__element">
    <p class="content__subheader">Sortowanie:</p>
    <shop-single-select class="content__sort-options" [items] = "this.items" [(ngModel)] = "this.selectedSortOption"></shop-single-select>
  </div>
  <shop-products-filters class="content__filters" selectsType="accordion" [showHeader]="false" ></shop-products-filters>
</div>
</shop-dialog>