@import "../../../styling/all.scss";

:host {
  @include flex-fill-space;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  // align-items: center;
}

.scroll-button {
  position: fixed;
  width: 70px;
  height: 70px;
  background-color: rgba(gray, 0.35);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  bottom: 5%;
  right: 5%;
  cursor: pointer;

  & .pi {
    font-size: 200%;
  }
  // background-color: rebeccapurple;
}

.main {
  align-self: center;
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: $max-router-width;

  &-filters {
    width: 260px;
    background-color: $surface-50;
    margin: 4px;
    border-radius: 4px;
    box-shadow: 0 0 2px 0 $box-shadow-color;
    padding: 5px 10px 5px 15px;
    display: flex;
    flex-direction: column;
  }

  &-tiles {
    width: calc(100% - 268px);
    flex: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    padding: 5px 2% 5px 1%;

    &__tile {
      height: 480px;
      width: 25%;
    }
  }
}

.top-bar {
  position: sticky;
  width: 100%;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // justify-content: flex-end;
  background-color: $surface-color-3;
  box-shadow: 0 0 2px 0 $box-shadow-color;
  margin: 4px 0 4px 0;
  z-index: 50;

  &__content{
    width: 100%;
    max-width: $max-router-width;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }

  &__options {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__filters-icon{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    margin-right: 8px;

    & .pi{
      font-size: 25px;
      margin-left: 2px;
    }
  }

  &__searcher {
    padding: 5px;
    margin-left: 5px;
    flex: 1;

    &-input {
      width: 100%;
    }

    & .pi {
      cursor: pointer;
      font-size: $font-size5;
      padding: 8px;
      transform: translate(4px, -8px);
    }
  }
}

.bottom {
  background-color: $surface-color-3;
  box-shadow: 0 0 2px 0 $box-shadow-color;
  margin: 6px 0 4px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  &__page-select{
    margin-left: 5%;
  }

  &__page-count {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10%;

  }

  &__dropdown {
    padding: 5px;
  }
}

.filters-dialog {
  &__filters {
    padding: 20px min(20px, 5%) 20px min(20px, 5%);
  }
}

:host ::ng-deep{
  & .top-bar__sorting .p-dropdown {
    min-width: 240px;
  }
}

@media only screen and (max-width: 1100px) {
  .main {
    &-tiles {
      &__tile {
        width: 33.3333333%;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .main {
    &-tiles {
      &__tile {
        width: 50%;
      }
    }
  }
}


@media only screen and (max-width: 760px) {
  .main {
    &-filters {
      display: none;
    }
  }

  .top-bar{
       
    &__sorting {
      display: none;
    }

    &__filters-icon{
      display: flex;
    }
  }

  :host ::ng-deep{
    & p-dropdown{
      min-width: 0;
    }
  }

  .bottom{
    &__page-select{
      margin-left: 1%;
    }

    &__page-count{
      min-width: 0;
    }
  }
}

@media only screen and (max-width: 500px) {
  .main {
    &-tiles {
      &__tile {
        width: 100%;
      }
    }
  }
  .bottom{
    justify-content: space-evenly;

    &__page-count{
      margin-right: 0;
    }
  }
}


@media only screen and (max-width: 450px) {
  .top-bar{
      &__page-select{
        display: none;
      }
  }

  .bottom{
    justify-content: center;

    &__page-count{
      display: none;
    }

    &__page-select{
      padding: 10px;
      margin: 0;
    }
  }
}