@import "../../../styling/all.scss";

:host{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: $font-size4;
  margin: 0 15px 0 5px;
}

.input {
  margin-right: 5px;
}

.total-pages {
  margin-left: 5px;
}

:host ::ng-deep {
  & .p-inputnumber {
    width: unset !important;

    &-input {
      width: 45px;
      margin: 0px;
      padding: 5px;
      text-align: center;
      box-shadow: unset !important;
    }

    &-button {
      // padding: 0;
      width: 1.4em;
    }
  }
}