@import "../../../styling/all.scss";

.sidebar{
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1001;
    background-color: $theme-color;
    height: 100%;
    top: 0;

    &__top{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        & .pi{
            padding: max(4px, 2%);
            border-radius: 50%;
            background-color: $theme-color-light-1;
            transition-duration: 200ms;
            cursor: pointer;
            margin: max(3px, 1.5%);

            &:hover{
                background-color: $theme-color-light-2;
            }
        }
    }

    &__content{
        padding: 15px;
        overflow: auto;
    }
}

.overlay{
    background-color: black;
    opacity: 0.5;
    position: fixed;
    z-index: 1000;
    top: 0;
    height: 100%;
    width: 100%;
}