$theme-white: white;
$color-blue: #007bff;

$theme-color-dark-3: var(--green-800);
$theme-color-dark-2: var(--green-700);
$theme-color-dark-1: var(--green-600);
$theme-color: var(--primary-color);//#228fff;
$theme-color-light-1: var(--green-400);
$theme-color-light-2: var(--green-300);
$theme-color-light-3: var(--green-200);
$theme-color-light-4: var(--green-100);

$surface-0: var(--surface-0);
$surface-50: var(--surface-50);
$surface-100: var(--surface-100);
$surface-200: var(--surface-200);
$surface-300: var(--surface-300);
$surface-400: var(--surface-400);
$surface-500: var(--surface-500);
$surface-600: var(--surface-600);
$surface-700: var(--surface-700);
$surface-800: var(--surface-800);
$surface-900: var(--surface-900);

$theme-color2: #f44336;
$theme-color3: #607d8b;
$theme-color3-hover: #527080; 
$theme-color2-hover: #f55e53;

$theme-border: rgb(207, 207, 207);
$surface-color: var(--surface-b);
$surface-color-darken: #e1e6e9;
$surface-hover: var(--surface-c);
$surface-color-dark: var(--surface-800);
$box-shadow-color: #777777;
$surface-color-2: var(--surface-d);
$surface-color-3: var(--surface-c);
$surface-color-4: #d2d4d6;
$surface-color-5 : #cacaca;
$surface-color-6 : #bdbdbd;
$box-shadow: inset 0 0 0 0.15rem $box-shadow-color;
$text-color: black;
$text-color-light: white;


$invalid-color: #ce1e1e;