
$font-size1: 10px;
$font-size2: 13px;
$font-size3: 16px;
$font-size4: 19px;
$font-size5: 21px;
$font-size6: 23px;
$font-size7: 25px;
$font-size8: 28px;
$font-size9: 31px;

$family: Arial, Helvetica, sans-serif;

