<shop-dialog acceptPhrase="OK" cancelPhrase="Anuluj" [(visibility)]="this.visibility" (accept)="this.dialogAccepted()"
 dialogTitle="Filtry" (cancel)="this.dialogCancelled()" maxContentHeigh="500px">
<div class="content">
  <div class="content__element">
    <p class="content__subheader">Produkty na stronie:</p>
    <shop-page-size-select [(ngModel)]="this.dialogModel.pageSize"></shop-page-size-select>
  </div>
  <div class="content__element">
    <p class="content__subheader">Sortowanie:</p>
    <shop-single-select class="content__sort-options" [items] = "this.sortOptions" [(ngModel)] = "this.dialogModel.sort"
    (blur) = "this.callOnTouche()" (ngModelChange)="this.onInternalChange()" modelProperty="code" displayedProperty="name"
    [(expanded)]="this.sortOptionsExpanded">
  </shop-single-select>
  </div>
  <shop-products-filters #filters [(ngModel)]="this.dialogModel" class="content__filters" selectsType="accordion"
   [showHeader]="false" (blur) = "this.callOnTouche" (ngModelChange)="this.onInternalChange()" [debounceTime]="false"></shop-products-filters>
</div>
</shop-dialog>