@import "../../../../styling/all.scss";

:host{
    @include flex-fill-space;
    align-self: center;
    position: relative;
    justify-content: center;
    background-color: $surface-100;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px $box-shadow-color;
    padding: min(20px, 2%);
    max-width: 1000px;
}

.data-header{
    font-size: $font-size8;
    margin-top: 0;
    margin-bottom: 15px;
}

.content{
    flex: 1;
    // padding: min(10px, 1%);
    // padding-left: min(40px, 1%);
  

    &__element{
        margin-top: 20px;

        &:first-child{
            margin-top: 0;
        }
    }

    &__login{
       font-size: $font-size6;
    }
}

.email{
    font-size: $font-size5;

    &__header{
        margin-bottom: 10px;
    }

    &-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;


        &__input{
            font-size: $font-size5;
            max-width: unset;
            min-width: unset;
            width: min(100%, 400px);
            background-color: $surface-200;
        }

        &__button{
            margin-left: 10px;
            white-space: nowrap;
        }
    }

    &__password-button{
      white-space: nowrap;
    }
}

.info-header{
  font-size: 27px;
  margin: 50px 0 0 0;
}

.info-subheader{
  font-size: 13px;
  transform: translateY(-5px);
}

.bottom-buttons{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (max-width: 400px){
  .email{
    &-wrapper{
      flex-direction: column;
      align-items: stretch;

      &__button{
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }

  .content__password-button{
    width: 100%;
  }
}