@import "../../.././styling/all.scss";

nav{
    z-index: 100;
    position: sticky;
    top: 0;
}

:host{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.menu{
    font-size: 100px;
}

.top-nav{

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $theme-color;
    box-shadow: 0 0 2px 0 $box-shadow-color;
    font-size: $font-size3;
    text-align: center;
    flex-wrap: wrap;

    &__menu{
        flex: 1;
        font-size: $font-size4;
    }

    &__right{
        display: flex;
    }

    &__expand{
        display: none;
        cursor: pointer;
        margin-left: 15px;
        padding: 5px;

        & .pi{
            font-size: min(10vw, 40px) ;
        }
    }

    &__icon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 6px 4px 4px 4px;
        text-align: center;
        font-size: min(19px, 3.8vw);
        & .pi{
           transform: scale(1.4, 1.3);
           font-size: inherit;

            &-user-plus{
                transform: scale(1.5, 1.4);
            }
        }

    }
}

.sidebar__menu{
    font-size: $font-size6;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 40px;
    padding: 20px;;
    background-color: $theme-color;
    color: $text-color;
    box-shadow: 0 0 2px 0 $box-shadow-color;

    &-column{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0 20px 0 20px;
    }

    &__contact-data{
        margin-bottom: 6px;
    }

    h2{
        margin: 10px 0 10px 0;
    }
}

.router{
    @include flex-fill-space;
    align-self: center;
    align-items: center;
    flex-direction: column;
}

:host ::ng-deep{
    & .p-menubar{
        border: none;
        outline: none;
        background-color: $theme-color;
    }

    & .p-sidebar{
    
        &-header{
            padding: 0.6em;
        }

        &-content{
            padding: 5px !important;
        }
    }

    & .p-menuitem {

        &-link{
            // &-active{
            //     box-shadow: 0 0 1px 2.5px inset $theme-color-light;
            // }

            &:active{
                box-shadow: 0 0 1px 2.5px inset $theme-color-light-2;
            }

            &:hover{
                background-color: $theme-color-light-1 !important;
            }
        }

        &-active > .p-menuitem-link{
            background-color: $theme-color-light-1 !important;
        }

        &-text{
            color: $text-color !important;
        }
    }

    & .p-submenu-list{
        background-color: $theme-color;
    }

    & .p-submenu-icon{
        color: black !important;
    }
}

@media only screen and (max-width: 960px){
    .top-nav{
        &__menu{
            display: none;
        }

        &__expand{
            display: unset;
        }
    }

}

@media only screen and (max-width: 400px){
    .footer{
        flex-direction: column;
        align-items: center;
        

        &-column{
            margin-bottom: 20px;

            &:last-child{
                margin-bottom: 0;;
            }
        }
    }

    :host ::ng-deep{

        & .p-sidebar{
            width :100%;
        }
    }
}