@import "../../../../../styling/all.scss";

.content{
    width: 500px;
    max-width: 100%;
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;

    &__header{
        margin-top: 20px;
    }

    &__password{
        margin-top: 8px;
    }
}