@import "../../../styling/all.scss";

:host {
  display: flex !important;
  flex-direction: column;
  border-radius: 4px;
  transition-duration: 200ms;
  position: relative;
  cursor: pointer;
  padding: 10px;


  &:hover {
    box-shadow: 0 0 4px 0px $theme-color;
  }
}

.wrapper{
  display: flex !important;
  flex-direction: column;
  flex: 1;
}

.image {
  width: 100%;
  flex: 1;
}

.informations {
  font-size: $font-size3;

  &__element{
    padding-bottom: 10px;

    &:last-child{
      padding-bottom: 0;
    }
  }

  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-size: $font-size7;
    margin: 10px;
    border-bottom: 1px solid $surface-400 ;
  }

  &__price {
  //  margin-bottom: 5px;
    font-size: $font-size5;
  }

  &__description {
    // display: -webkit-box;
    // -webkit-box-orient: vertical;
    font-size: $font-size3;
    color: #444444;
    // display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    // word-wrap: break-word;
    // -webkit-line-clamp: 3;
  }

  &__types {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    //margin-bottom: 6px;
    font-size: $font-size3;
  }
}
