<div class="wrapper" *ngIf="this.product">
    <shop-product-image class="image" imageResolution="small" [productId] = "this.product.id!">

    </shop-product-image>
    <div class="informations">
        <p class="informations__name"> {{this.product.name}} </p>   
        <p class="informations__price informations__element">
            Cena:
            <ng-container *ngIf = "this.product.price === 0">Bezpłatny</ng-container>
            <ng-container *ngIf = "this.product.price !== 0">{{this.product.price}} zł</ng-container>
        </p>
        <p class="informations__types informations__element" *ngIf="product.types">
          {{product.types.join(", ")}}
        </p>
        <p class="informations__description informations__element" #description>
            {{this.product.description}}
        </p>
    </div>
</div>
