@import "../../../../styling/all.scss";


:host{
  min-width: 0;
  display: block;
}

.title{
  background-color: $theme-white;
  border: 1.5px solid $theme-border;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  &--expanded{
    border-radius: 5px 5px 0 0;
  }

  &__header{
    flex: 1
  }

  &__icon{
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.expansion-wrapper{
  overflow: hidden;
}

.expansion{
  border-radius: 0 0 5px 5px;
  border: 1.5px solid $theme-border;
  background-color: $surface-100;
  border-top: none;
  overflow: hidden;
  outline: none;

  &__searcher{
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &-input{
      flex: 1;
    }

    &-checkbox{
      margin-right: 5px;
    }
  }

  &__viewport{
    margin: 5px 0 10px 10px;
    height: 300px;
    border-radius: 5px;
    background-color: white;
  }
}

:host ::ng-deep{
  & .cdk-virtual-scroll-content-wrapper{
      padding: 4px 8px 4px 8px;
      // position: unset;
  }
}
