@import "../../../styling/all.scss";

:host{
  border-radius: 3px;
  box-shadow: 0 0 2px 1px $box-shadow-color;
  background-color: $surface-100;
}

.filter{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.date{
  &-input{
    max-width: 100px;
  }
}

.price{
  &-input{
    max-width: 100px;
  }
}

:host ::ng-deep{
  & .p-inputnumber-input{
    max-width: unset !important;
    min-width: 0 !important;
    width: 100%;
    padding: 0.4em;
  }

  & .p-inputtext{
    padding: 0.4em;
  }
}