<div class="content">
    <div class="navigation">
        <div class="link-list">
            <div class="link-list__element" [class.link-list__element--selected] = "this.selectedChildRoute === 'settings'"
             routerLink="settings"><p> Ustawienia </p></div>
            <div class="link-list__element" [class.link-list__element--selected] = "this.selectedChildRoute === 'orders'"
             routerLink="orders"><p> Zamówienia </p></div>
            <div class="link-list__element" [class.link-list__element--selected] = "this.selectedChildRoute === 'opinions'"
            routerLink="opinions"><p>Opinie</p></div>
        </div>
    </div>
    <div class="router-outlet">
        <router-outlet></router-outlet>
    <div>
</div>