@import "../../../styling/all.scss";


:host{
    display: flex;
    flex-direction: column;
}

.child{
    padding-left: 8px;    
    overflow: hidden;
    // background-color: $surface-color;
}

.label{
    font-size: inherit;
    cursor: pointer;
    box-shadow: 0 0 2px 0 $box-shadow-color;
    padding: 0.35em;
    background-color: $surface-color;
    transition-duration: 200ms;
    margin: 2px;

    &:hover{
        background-color: $surface-color-darken;
    }
}

.no-margin{
    margin-bottom: 0 !important;
}

.hidden{
    display: none;
}