<div class="header">
    <i class="pi pi-arrow-left" title="wróć" (click)="this.location.back()"></i>
    <h1 class="header__text">
        {{this.headerText}}
    </h1>
    <button *ngIf = "currentProductId" class="header__button-new" (click)="this.navigateToNewProductUrl()"
     shopButton color = 'gray' padding="medium">Stwórz nowy</button>
</div>
<div class="content">
    <div class="image">
        <div class="image__img">
            <div class="image__overlay" *ngIf = "this.waitingForImage">
                <i class="pi pi-spin pi-spinner"></i>
            </div>
            <img [src]="this.imageUrl" (error)="this.onImageError()" (load)="this.onImageLoaded()">
        </div>
        <div class="buttons">
            <input type="file" style="display: none;" (change) = "this.onFileChange(fileInput)"
            accept="image/jpeg, image/png, image/bmp" #fileInput>
            <button class="buttons__button" shopButton (click) = "fileInput.click()">Wybierz obraz <i class="pi pi-image"></i></button>
            <button class="buttons__button" [disabled] = "!hasImage()" shopButton (click) = "this.onImageRemove()" color="red">Usuń obraz <i class="pi pi-times"></i></button>
        </div>
    </div>
    <div class="informations">
        <shop-product-creator [formControl]="this.requestControl" (onSubmit)="this.onSubmit()"></shop-product-creator>
        <div class="buttons">
          <button class="buttons__button" [disabled] = "this.requestControl.invalid || this.waitingForResponseMessage
           || this.unchangedAfterSend" shopButton (click)="this.onSubmit()">Prześlij <i class="pi-check-circle pi"></i></button>
          <button class="buttons__button" type="button" [disabled] = "!this.currentProductId" shopButton color = "red" (click)="this.onProductRemove()">Usuń produkt <i class="pi pi-times"></i></button>
      </div>
    </div>
</div>
<div class="overlay" *ngIf = "this.waitingForResponseMessage.length !== 0">
    <p>{{this.waitingForResponseMessage}}</p>
    <i class="pi pi-spinner pi-spin"></i>
</div>

<p-confirmDialog [breakpoints]="{'600px': {width: '100%', right: '0', left: '0'}}"></p-confirmDialog>