<div class="content" #container>
  <div class="top-bar" #topBar [@hideWhileScrolling] = "hideSearchBar ? 'hidden': 'showed'"
   [ngStyle]="{'top': this.container.offsetTop + 2 + 'px'}">
    <div class="top-bar__content">
      <div class="p-input-icon-right top-bar__searcher">
        <input class="top-bar__searcher-input" placeholder="wyszukiwanie" type="text" pInputText
         [(ngModel)]="this.productsParams.searchPhrase" (ngModelChange)="this.onSearchPhraseChanged($event)">
        <i class="pi pi-search"></i>
      </div>
      <p-dropdown class="top-bar__sorting" placeholder="Sortowanie" optionLabel="name" optionValue="code"
       [(ngModel)]="this.productsParams.sort" (ngModelChange)="this.onParamsModelChange()" [options]="this.sortOptions"></p-dropdown>
      <shop-page-select class="top-bar__page-select" [totalPages]="this.httpResponse.totalPages"
       [(ngModel)]="this.productsParams.pageNumber" (ngModelChange)="this.onParamsModelChange()"
       (modelStartChanging)="this.cancelRequest()"></shop-page-select>
      <div class="top-bar__filters-icon" (click) = "this.openFiltersDialog()">
        <p>Filtry</p>
        <i class="pi pi-filter"></i>
      </div>
    </div>
  </div>

  <div class="main">
    <shop-products-filters (ngModelChange)="this.onParamsModelChange()" class="main-filters"
      [(ngModel)]="this.productsParams" (startChanging)="this.cancelRequest()" [adminMode]="this.isAdminMode()"></shop-products-filters>
    <div class="main-tiles">
      <!-- <shop-busy-overlay *ngIf="this.waitingForResponse" class="main-tiles__overlay"></shop-busy-overlay> -->
      <ng-container *ngIf="this.httpResponse">
        <a class="main-tiles__tile" *ngFor="let product of this.httpResponse.result; trackBy: trackByProductId" [routerLink]="this.generateProductUrl(product.id)">
          <shop-product-tile class="main-tiles__tile-component" [product]="product">
          </shop-product-tile>
        </a>
      </ng-container>
    </div>
  </div>

  <div class="bottom">
    <shop-page-select class="bottom__page-select" [totalPages]="this.httpResponse.totalPages"
     [(ngModel)]="this.productsParams.pageNumber" (ngModelChange)="this.onParamsModelChange()"></shop-page-select>
    <div class="bottom__page-count">
      <p>Produkty na stronie:</p>
      <p-dropdown class="bottom__dropdown" [options]="this.pageOptions"
       [(ngModel)]="this.productsParams.pageSize" (ngModelChange)="this.onParamsModelChange()"></p-dropdown>
    </div>
  </div>

  <shop-filters-dialog [(visibility)]="this.filtersExpanded" [(ngModel)] = "this.productsParams"
   (ngModelChange)="this.onParamsModelChange()" [adminMode]="this.isAdminMode()"></shop-filters-dialog>
  
  <shop-scroller></shop-scroller>
</div>