<shop-dialog [(visibility)]="this._visibility" (visibilityChange)="this.onVisibilityChange($event)" dialogTitle="Filtry"
acceptPhrase="OK" cancelPhrase="Anuluj" (accept)="this.onAccept()" (cancel)="this.onCancel()" maxContentHeigh="500px">
  <form class="content" (ngSubmit)="this.onAccept()">
    <input shopInputText placeholder="wyszukiwanie" class="searcher" [(ngModel)]="this.model.searchPhrase" name="search">
    <p class="subheader">Autorzy na stronie:</p>
    <shop-page-size-select [(ngModel)]="this.model.pageSize" name="page-size"></shop-page-size-select>
    <p class="subheader">Sortowanie:</p>
    <shop-single-select modelProperty="code" displayedProperty="name" [items]="this.sortOptions"
     [(ngModel)]="this.model.sort" name="sort-select"></shop-single-select>
    <p class="subheader">Ilość książek:</p>
    <div class="written-books">
      <p-inputNumber class="written-books__min written-books__input" placeholder="min" [(ngModel)]="this.model.minBooks"
      name="books-min"></p-inputNumber>
      <p>-</p>
      <p-inputNumber  class="written-books__max written-books__input" placeholder="max" [(ngModel)]="this.model.maxBooks"
      name="books-max"></p-inputNumber>
    </div>
  </form>
</shop-dialog>
