<div class="all">
  <shop-users-editor class="editor"></shop-users-editor>
  <form class="creator" [formGroup]="this.formGroup">
    <h2>Nowy użytkownik:</h2>
    <input formControlName="username" class="creator__element" shopInputText placeholder="Nazwa użytkownika"
     [invalid]="this.usernameControl.invalid && this.usernameControl.touched">
    <input formControlName="email" class="creator__element" shopInputText type="email" placeholder="Email"
    [invalid]="this.emailControl.invalid && this.emailControl.touched">
    <shop-password-input formControlName="password" placeholder="Hasło" class="creator__element"
    [invalid]="this.passwordControl.invalid && this.passwordControl.touched"></shop-password-input>
    <div class="creator__roles creator__element"><p class="creator__roles-text">Role:</p>
      <shop-roles-select formControlName="roles" class="creator__roles-select"
      [invalid]="this.rolesControl.invalid && this.rolesControl.touched"></shop-roles-select></div>
    <div class="creator__buttons creator__element">
      <button shopButton padding="medium" color="green" [disabled]="this.formGroup.invalid">Potwierdź</button>
      <button shopButton padding="medium" color="red" (click) = "this.formGroup.reset()">Wyczyść</button>
    </div>
  </form>
</div>
