<div class="content">
    <form class="login" [formGroup] = "this.form" (ngSubmit) = "this.onLoginClick()">
        <h2 class="login__element">Login:</h2>
        <div class="login__sector login__username">
            <label for="username" class="login__element login__text">Nazwa użytkownia lub email:</label>
            <input id="username" pTooltip [pTooltip]="this.getErrorsMessage(this.usernameControl)" shopInputText class="login__element login__input"
             formControlName = "username" placeholder="nazwa użytkownika lub email"
            [invalid] = "usernameControl.invalid && usernameControl.touched">
        </div>

        <div class="login__sector login__password">
            <label for="password" class="login__element login__text">Hasło:</label>
            <shop-password-input id="password" pTooltip [pTooltip]="this.getErrorsMessage(this.passwordControl)" class="login__element login__input"
             formControlName = "password" placeholder="hasło"
             [invalid] = "passwordControl.invalid && passwordControl.touched" type="password"></shop-password-input>
        </div>

        <input type="submit" shopButton value="Login" class="login__button login__element" [disabled] = "form.invalid || this.waitingForLogin || this.unchangedAfterError">
        
        <div class= "login__bottom-text">
           Nie masz konta? Zarejestruj się <a class="login__link" href="../register"> tutaj!</a>
        </div>

        <div class ="login__bottom-text">
          <p class="login__link" (click) = "this.openForgotDialog()">Nie pamiętasz hasła?</p> 
        </div>
    </form>
</div>

<shop-forgot-password-dialog [(visibility)] = "this.forgotPasswordVisibility"></shop-forgot-password-dialog>